.menuContainer {
  display: flex;
  position: fixed;
  flex-direction: column;
  align-items: center;
  justify-content: stretch;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0;
  padding: 0.25rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: inherit;
  box-shadow: 0px 0px 10px 4px white;
}
.content {
  padding-top: 0;
  padding-bottom: 150px;
  gap: 0.5rem;
}
.messageBanner {
  display: flex;
  position: sticky;
  top: 1rem;
  align-items: center;
  width: fit-content;
  max-height: 14rem;
  overflow: hidden;
  color: white;
  background-color: #fa5252;
  margin: 0;
  border-radius: 0.25rem;
  padding: 0.25rem;
  z-index: 100;
}
#messageBannerContent {
  margin: 0;
  padding: 0;
}
.messageBanner:has(> #messageBannerContent:empty) {
  padding: 0;
}
#updateMessage {
  /* display: none; */
  margin-bottom: 2rem;
}
.menu {
  max-width: 30rem;
  width: 100%;
  margin: 0;
}
.bg-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin: auto;
  margin-top: -3rem;
  padding: 0;
  border-radius: 16rem;
}
.bg-image {
  display: block;
  position: relative;
  width: 110vh;
  height: 110vh;
  max-width: 30rem;
  max-height: 30rem;
  background-image: url('assets/logo-badge-gradient.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  padding: 0;
}
.spinner {
  display: block;
  position: relative;
  width: 100%;
}
/* Show/hide settings */
#connContainer {
  padding-left: 2px;
  padding-right: 2px;
}
#advContainer,
#connContainer {
  transition: max-height 0.25s ease;
}
[data-attr='closed'] {
  height: 0;
  overflow: hidden;
  max-height: 0;
}
[data-attr='open'] {
  max-height: 100%;
  height: 100%;
  overflow: visible;
}
